[data-testid=metric-container] {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
    
   
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.3rem;
    color:rgb(40, 79, 141);
}
.st-dd {
    background-color: rgb(40,79,141);
  }
  .e16nr0p30 {
    color:rgb(40,79,141);
  }
/* .st-ca {
    background-color: rgb(40,79,141);
} */