[data-testid=metric-container] {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 4px #cccccc;
    padding: 10px;
    
   
}

.sidebar .sidebar-content {
    padding-top: 0px;
}

.streamlit-button.primary-button:active {
    background-color: rgb(40,79,141);
}

div[data-testid="stExpander"] div[role="button"] p
{
    font-size: 1.3rem;
    color:#284f8d;
}
  .e16nr0p30 {
    color:rgb(40,79,141);
  }
  div.css-j5r0tf.e1tzin5v1 {
    background-color: rgb(205, 224, 255);
    border: 1px solid rgb(159, 181, 217);
    border-radius: 12px;
    padding: 15px 5px;
    color:rgb(1, 13, 31) !important;
  }
  div.css-j5r0tf.e1tzin5v1 p {
    color:rgb(1, 13, 31) !important;
  }
  div [data-testid="metric-container"]{
    box-shadow: none !important;
  }